Fine Tuning/data/mc-fake.json
*/.DS_Store

.DS_Store
.DS_Store
/FineTuning/model_cache
/FineTuning/wandb
/FineTuning/logs
/FineTuning/lora_finetuned_llama_cls
/FineTuning/data
/FineTuning/checkpoints
/FineTuning/__pycache__
/Prompt Engineering/gpt_3.5_turbo_liar_new_rets
/Prompt Engineering/gpt_o3_mini_liar_new_rets
/Prompt Engineering/__pycache__
/Prompt Engineering/data/LIAR-New
Prompt Engineering/data/mc-fake_test.json
/Prompt Engineering/data
